.edit-product {
  width: 70%;
  margin: 0 auto;
}
.edit-product h1 {
  font-size: 2.2rem;
}
.edit-product form {
  background-color: #fff;
  padding: 2rem;
}
.edit-product form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}
.edit-product form > div label {
  font-size: 16px;
}
.edit-product form > div input,
.edit-product form > div textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  border: rgb(214, 214, 214) 1px solid;
  border-radius: 5px;
}
.edit-product form > div textarea {
  height: 8rem;
}
.product-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.product-images div {
  width: 13rem;
  height: 13rem;
  position: relative;
  border: 1px solid rgb(214, 214, 214);
}
.product-images div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgb(8, 8, 8, 0.5);
  transition: all 0.3s;
}
.product-images div:hover::after {
  height: 100%;
}
.product-images div .delete-img {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.4s;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.product-images div .delete-img svg {
}
.product-images div:hover .delete-img {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}
.product-images div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
}
.submit-btn {
  margin: 2rem 0 0;
}
